
Assignment/epa018aDeviceModelingAssignment/workspace.ads
Assignment/epa018aDeviceModelingAssignment/SS_FET_dynamic_LL.dds
Assignment/epa018aDeviceModelingAssignment/SS_FET_curve_tracer.dds
Assignment/epa018aDeviceModelingAssignment/smallSignalWithParas.dds~
Assignment/epa018aDeviceModelingAssignment/smallSignalWithParas.dds
Assignment/epa018aDeviceModelingAssignment/smallSignalTry2.dds
Assignment/epa018aDeviceModelingAssignment/smallSignalTry1.dds~
Assignment/epa018aDeviceModelingAssignment/smallSignalTry1.dds
Assignment/epa018aDeviceModelingAssignment/smallSignalNoParacitics.dds~
Assignment/epa018aDeviceModelingAssignment/smallSignalNoParacitics.dds
Assignment/epa018aDeviceModelingAssignment/search_history.log
Assignment/epa018aDeviceModelingAssignment/schematic.prf
Assignment/epa018aDeviceModelingAssignment/saved.wrkstate
Assignment/epa018aDeviceModelingAssignment/s21_ands12.txt
Assignment/epa018aDeviceModelingAssignment/s11_ands22.txt
Assignment/epa018aDeviceModelingAssignment/S Params with VDS=6V and VGS=-0.45V.txt
Assignment/epa018aDeviceModelingAssignment/S Params with VDS=2V and VGS=-0.7V.txt
Assignment/epa018aDeviceModelingAssignment/netlist.log
Assignment/epa018aDeviceModelingAssignment/navigator.opt
Assignment/epa018aDeviceModelingAssignment/LSSP_test_wrk.7zads
Assignment/epa018aDeviceModelingAssignment/lib.defs
Assignment/epa018aDeviceModelingAssignment/layout.prf
Assignment/epa018aDeviceModelingAssignment/largeSignalTry2.dds~
Assignment/epa018aDeviceModelingAssignment/largeSignalTry2.dds
Assignment/epa018aDeviceModelingAssignment/largeSignalTry1.dds
Assignment/epa018aDeviceModelingAssignment/largeSignalSParamTry1.dds~
Assignment/epa018aDeviceModelingAssignment/largeSignalSParamTry1.dds
Assignment/epa018aDeviceModelingAssignment/IV Curves Data.txt
Assignment/epa018aDeviceModelingAssignment/IV Curves Data for Gm.txt
Assignment/epa018aDeviceModelingAssignment/hpeesofsim.cfg
Assignment/epa018aDeviceModelingAssignment/fileRefs.json
Assignment/epa018aDeviceModelingAssignment/fetCharTestingSmartSim.dds~
Assignment/epa018aDeviceModelingAssignment/fetCharTestingSmartSim.dds
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib_lay.prf
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/tech.db.cdslck
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/tech.db
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/small%Signal%With%Paras/schematic/sch.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/small%Signal%With%Paras/schematic/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/small%Signal%Try2/schematic/sch.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/small%Signal%Try2/schematic/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/small%Signal%Try1/small%Signal%Die%Only/sch.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/small%Signal%Try1/small%Signal%Die%Only/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/small%Signal%Transfer%Function/schematic/sch.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/small%Signal%Transfer%Function/schematic/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/small%Signal%No%Paracitics/schematic/sch.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/small%Signal%No%Paracitics/schematic/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/small%Signal%Amp%Testing/schematic/sch.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/small%Signal%Amp%Testing/schematic/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/schematic.prf
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/s%Param%Large%Signal%Try2/schematic/sch.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/s%Param%Large%Signal%Try2/schematic/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/libRefs.json
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/large%Signal%Try2/schematic/sch.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/large%Signal%Try2/schematic/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/large%Signal%Try1/schematic/sch.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/large%Signal%Try1/schematic/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/large%Signal%S%Param%Try1/schematic/sch.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/large%Signal%S%Param%Try1/schematic/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/fet%Char%Testing%Smart%Sim_%Show%Sim1/schematic/sch.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/fet%Char%Testing%Smart%Sim_%Show%Sim1/schematic/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/fet%Char%Testing%Smart%Sim_%Show%Sim/schematic/sch.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/fet%Char%Testing%Smart%Sim_%Show%Sim/schematic/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/fet%Char%Testing%Smart%Sim/schematic/sch.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/fet%Char%Testing%Smart%Sim/schematic/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/epa018a%Smart%Sim%Testing/symbol/symbol.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/epa018a%Smart%Sim%Testing/symbol/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/epa018a%Smart%Sim%Testing/schematic/sch.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/epa018a%Smart%Sim%Testing/schematic/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/epa018a%Smart%Sim%Testing/itemdef.atf
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/epa018a%Smart%Sim%Testing/itemdef.ael
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/eesof_lib.cfg
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/class%A%E%P%A018%A_%Try1/symbol/symbol.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/class%A%E%P%A018%A_%Try1/symbol/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/class%A%E%P%A018%A_%Try1/schematic/sch.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/class%A%E%P%A018%A_%Try1/schematic/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/class%A%E%P%A018%A_%Try1/itemdef.atf
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/class%A%E%P%A018%A_%Try1/itemdef.ael
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/cdsinfo.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/.oalib
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_ft/symbol/symbol.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_ft/symbol/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_ft/schematic/sch.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_ft/schematic/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_ft/itemdef.atf
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_ft/itemdef.ael
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_fmax_vs_bias/symbol/symbol.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_fmax_vs_bias/symbol/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_fmax_vs_bias/schematic/sch.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_fmax_vs_bias/schematic/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_fmax_vs_bias/itemdef.atf
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_fmax_vs_bias/itemdef.ael
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_dynamic_%L%L/symbol/symbol.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_dynamic_%L%L/symbol/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_dynamic_%L%L/schematic/sch.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_dynamic_%L%L/schematic/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_dynamic_%L%L/itemdef.atf
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_dynamic_%L%L/itemdef.ael
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_curve_tracer/symbol/symbol.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_curve_tracer/symbol/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_curve_tracer/schematic/sch.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_curve_tracer/schematic/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_curve_tracer/itemdef.atf
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_curve_tracer/itemdef.ael
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%Stab_vs_freq_pwr/symbol/symbol.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%Stab_vs_freq_pwr/symbol/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%Stab_vs_freq_pwr/schematic/sch.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%Stab_vs_freq_pwr/schematic/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%Stab_vs_freq_pwr/itemdef.atf
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%Stab_vs_freq_pwr/itemdef.ael
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%Stab_vs_bias/symbol/symbol.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%Stab_vs_bias/symbol/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%Stab_vs_bias/schematic/sch.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%Stab_vs_bias/schematic/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%Stab_vs_bias/itemdef.atf
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%Stab_vs_bias/itemdef.ael
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%S%I%M1/symbol/symbol.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%S%I%M1/symbol/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%S%I%M1/schematic/sch.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%S%I%M1/schematic/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%S%I%M1/itemdef.atf
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%S%I%M1/itemdef.ael
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%N%F_%S%P_%Stability/symbol/symbol.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%N%F_%S%P_%Stability/symbol/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%N%F_%S%P_%Stability/schematic/sch.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%N%F_%S%P_%Stability/schematic/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%N%F_%S%P_%Stability/itemdef.atf
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%N%F_%S%P_%Stability/itemdef.ael
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%Load%Mapper/symbol/symbol.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%Load%Mapper/symbol/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%Load%Mapper/schematic/sch.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%Load%Mapper/schematic/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%Load%Mapper/itemdef.atf
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%Load%Mapper/itemdef.ael
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%I%V_%N%F_%S%P/symbol/symbol.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%I%V_%N%F_%S%P/symbol/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%I%V_%N%F_%S%P/schematic/sch.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%I%V_%N%F_%S%P/schematic/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%I%V_%N%F_%S%P/itemdef.atf
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%I%V_%N%F_%S%P/itemdef.ael
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%H%B2%Tone_%Source%Pull/symbol/symbol.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%H%B2%Tone_%Source%Pull/symbol/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%H%B2%Tone_%Source%Pull/schematic/sch.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%H%B2%Tone_%Source%Pull/schematic/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%H%B2%Tone_%Source%Pull/itemdef.atf
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%H%B2%Tone_%Source%Pull/itemdef.ael
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%H%B2%Tone_%Load%Pull/symbol/symbol.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%H%B2%Tone_%Load%Pull/symbol/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%H%B2%Tone_%Load%Pull/schematic/sch.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%H%B2%Tone_%Load%Pull/schematic/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%H%B2%Tone_%Load%Pull/itemdef.atf
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%H%B2%Tone_%Load%Pull/itemdef.ael
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%H%B1%Tone_%Source%Pull/symbol/symbol.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%H%B1%Tone_%Source%Pull/symbol/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%H%B1%Tone_%Source%Pull/schematic/sch.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%H%B1%Tone_%Source%Pull/schematic/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%H%B1%Tone_%Source%Pull/itemdef.atf
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%H%B1%Tone_%Source%Pull/itemdef.ael
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%H%B1%Tone_%Load%Pull_%G%C/symbol/symbol.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%H%B1%Tone_%Load%Pull_%G%C/symbol/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%H%B1%Tone_%Load%Pull_%G%C/schematic/sch.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%H%B1%Tone_%Load%Pull_%G%C/schematic/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%H%B1%Tone_%Load%Pull_%G%C/itemdef.atf
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%H%B1%Tone_%Load%Pull_%G%C/itemdef.ael
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%H%B1%Tone_%Load%Pull/symbol/symbol.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%H%B1%Tone_%Load%Pull/symbol/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%H%B1%Tone_%Load%Pull/schematic/sch.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%H%B1%Tone_%Load%Pull/schematic/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%H%B1%Tone_%Load%Pull/itemdef.atf
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%H%B1%Tone_%Load%Pull/itemdef.ael
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%H%B1%Tone%Noise/symbol/symbol.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%H%B1%Tone%Noise/symbol/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%H%B1%Tone%Noise/schematic/sch.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%H%B1%Tone%Noise/schematic/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%H%B1%Tone%Noise/itemdef.atf
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%F%E%T_%H%B1%Tone%Noise/itemdef.ael
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%A%M%P_%S%I%M1/symbol/symbol.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%A%M%P_%S%I%M1/symbol/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%A%M%P_%S%I%M1/schematic/sch.oa
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%A%M%P_%S%I%M1/schematic/master.tag
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%A%M%P_%S%I%M1/itemdef.atf
Assignment/epa018aDeviceModelingAssignment/epa018aDeviceModelingAssignment_lib/%S%S_%A%M%P_%S%I%M1/itemdef.ael
Assignment/epa018aDeviceModelingAssignment/de_sim.cfg
Assignment/epa018aDeviceModelingAssignment/dds.cfg
Assignment/epa018aDeviceModelingAssignment/data/sParamLargeSignalTry2_data/logFile.txt
Assignment/epa018aDeviceModelingAssignment/data/sParamLargeSignalTry2.ds
Assignment/epa018aDeviceModelingAssignment/data/smallSignalWithParas_data/logFile.txt
Assignment/epa018aDeviceModelingAssignment/data/smallSignalWithParas.ds
Assignment/epa018aDeviceModelingAssignment/data/smallSignalTry2_data/logFile.txt
Assignment/epa018aDeviceModelingAssignment/data/smallSignalTry2.ds
Assignment/epa018aDeviceModelingAssignment/data/smallSignalTry1_data/logFile.txt
Assignment/epa018aDeviceModelingAssignment/data/smallSignalTry1.ds
Assignment/epa018aDeviceModelingAssignment/data/smallSignalTransferFunction_data/spare_removal.txt
Assignment/epa018aDeviceModelingAssignment/data/smallSignalTransferFunction_data/logFile.txt
Assignment/epa018aDeviceModelingAssignment/data/smallSignalTransferFunction.ds
Assignment/epa018aDeviceModelingAssignment/data/smallSignalNoParacitics_data/logFile.txt
Assignment/epa018aDeviceModelingAssignment/data/smallSignalNoParacitics.ds
Assignment/epa018aDeviceModelingAssignment/data/largeSignalTry2_data/logFile.txt
Assignment/epa018aDeviceModelingAssignment/data/largeSignalTry2.ds
Assignment/epa018aDeviceModelingAssignment/data/largeSignalTry1_data/logFile.txt
Assignment/epa018aDeviceModelingAssignment/data/largeSignalTry1.ds
Assignment/epa018aDeviceModelingAssignment/data/largeSignalSParamTry1_data/logFile.txt
Assignment/epa018aDeviceModelingAssignment/data/largeSignalSParamTry1.ds
Assignment/epa018aDeviceModelingAssignment/data/fetCharTestingSmartSim9_data/logFile.txt
Assignment/epa018aDeviceModelingAssignment/data/fetCharTestingSmartSim9.ds
Assignment/epa018aDeviceModelingAssignment/data/fetCharTestingSmartSim8_data/logFile.txt
Assignment/epa018aDeviceModelingAssignment/data/fetCharTestingSmartSim8.ds
Assignment/epa018aDeviceModelingAssignment/data/fetCharTestingSmartSim7_data/logFile.txt
Assignment/epa018aDeviceModelingAssignment/data/fetCharTestingSmartSim7.ds
Assignment/epa018aDeviceModelingAssignment/data/fetCharTestingSmartSim6_data/logFile.txt
Assignment/epa018aDeviceModelingAssignment/data/fetCharTestingSmartSim6.ds
Assignment/epa018aDeviceModelingAssignment/data/fetCharTestingSmartSim5_data/logFile.txt
Assignment/epa018aDeviceModelingAssignment/data/fetCharTestingSmartSim5.ds
Assignment/epa018aDeviceModelingAssignment/data/fetCharTestingSmartSim4_data/logFile.txt
Assignment/epa018aDeviceModelingAssignment/data/fetCharTestingSmartSim4.ds
Assignment/epa018aDeviceModelingAssignment/data/fetCharTestingSmartSim3_data/logFile.txt
Assignment/epa018aDeviceModelingAssignment/data/fetCharTestingSmartSim3.ds
Assignment/epa018aDeviceModelingAssignment/data/fetCharTestingSmartSim2_data/logFile.txt
Assignment/epa018aDeviceModelingAssignment/data/fetCharTestingSmartSim2.ds
Assignment/epa018aDeviceModelingAssignment/data/fetCharTestingSmartSim1_data/logFile.txt
Assignment/epa018aDeviceModelingAssignment/data/fetCharTestingSmartSim14_data/logFile.txt
Assignment/epa018aDeviceModelingAssignment/data/fetCharTestingSmartSim14.ds
Assignment/epa018aDeviceModelingAssignment/data/fetCharTestingSmartSim13_data/logFile.txt
Assignment/epa018aDeviceModelingAssignment/data/fetCharTestingSmartSim13.ds
Assignment/epa018aDeviceModelingAssignment/data/fetCharTestingSmartSim12_data/logFile.txt
Assignment/epa018aDeviceModelingAssignment/data/fetCharTestingSmartSim12.ds
Assignment/epa018aDeviceModelingAssignment/data/fetCharTestingSmartSim11_data/logFile.txt
Assignment/epa018aDeviceModelingAssignment/data/fetCharTestingSmartSim11.ds
Assignment/epa018aDeviceModelingAssignment/data/fetCharTestingSmartSim10_data/logFile.txt
Assignment/epa018aDeviceModelingAssignment/data/fetCharTestingSmartSim10.ds
Assignment/epa018aDeviceModelingAssignment/data/fetCharTestingSmartSim1.ds
Assignment/epa018aDeviceModelingAssignment/data/fetCharTestingSmartSim0_data/logFile.txt
Assignment/epa018aDeviceModelingAssignment/data/fetCharTestingSmartSim0.ds
Assignment/epa018aDeviceModelingAssignment/data/dc_annotation/epa018a%Device%Modeling%Assignment_lib_large%Signal%Try2_schematic/annotation_map.xml
Assignment/epa018aDeviceModelingAssignment/data/dc_annotation/epa018a%Device%Modeling%Assignment_lib_large%Signal%Try2_schematic/annotation_1.xml
Assignment/epa018aDeviceModelingAssignment/data/dc_annotation/epa018a%Device%Modeling%Assignment_lib_large%Signal%Try1_schematic/annotation_map.xml
Assignment/epa018aDeviceModelingAssignment/data/dc_annotation/epa018a%Device%Modeling%Assignment_lib_large%Signal%Try1_schematic/annotation_1.xml
Assignment/epa018aDeviceModelingAssignment/data/__simdata017448.ds
Assignment/epa018aDeviceModelingAssignment/cds.lib
*.dds
*.status
*.ds
*.log
*.rec
*.docx
Assignment/uWaveDeviceModelingAssignmentNickCardamone.docx
